[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-simple-history = "*"
django-bootstrap4 = "*"
django-adminlte-3 = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
